<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ELENAEntities" connectionString="metadata=res://*/EvenementContext.csdl|res://*/EvenementContext.ssdl|res://*/EvenementContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=adeneslistenerSQL.groupe-elex.local;initial catalog=ELENA;persist security info=True;user id=UserDevCyril;password=Cmon8563;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>